<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229436930851-2cp4nba31anb3dajgfcar7o1d5vk1blr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229436930851-2cp4nba31anb3dajgfcar7o1d5vk1blr</string>
	<key>API_KEY</key>
	<string>AIzaSyAXApamAwsoF2dFzqmDQWdMve67tNzhMIY</string>
	<key>GCM_SENDER_ID</key>
	<string>229436930851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umer.aroutfitterapp</string>
	<key>PROJECT_ID</key>
	<string>ar-outfitter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-outfitter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229436930851:ios:b60ce07930cdca1679ea96</string>
</dict>
</plist>